<% content_for :title, "Lists" %>
<h1>Lists</h1>
<div id="lists" class="d-flex gap-3 overflow-auto p-3" data-controller="sortable">
  <% @lists.each do |list| %>
    <div data-sortable-update-url="<%= sort_list_path(list) %>">
      <%= render @list %>
    </div>
  <% end %>
</div>
