<footer class="bg-dark text-center text-lg-start mt-5 border-top py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-md-start mb-2 mb-md-0">
        <span class="text-secondary">&copy; 2025 Focus Board</span>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-secondary text-decoration-none me-3"target="_blank" title="Portfolio">Portfolio</a>
        <a href="https://gitlab.com/javier.beltran.hmo" target="_blank" title="GitLab"><i class="bi bi-gitlab text-secondary"></i></a>
        <a href="https://www.linkedin.com/in/javier-alejandro-beltran-montiel-3172222b1/" target="_blank" title="LinkedIn"><i class="bi bi-linkedin text-secondary"></i></a>
      </div>
    </div>
  </div>
</footer>
